html,body{
    height: 100%;
}
// header
.header{
    background-color: #000;
    font-size: 12px;
    color: #999;
    .container{
        width: 1100px;
        margin: 0 auto;
        height: 30px;
        line-height: 30px;
        .nav{
            line-height: 30px;
            .nav-item{
                line-height: 30px;
                img{
                    width: 100px;
                    height: 100px;
                    position: absolute;
                }
                .nav-link{
                    height: 30px;
                    color: #999;
                    padding: 0 16px;
                }   
            }
        }
        .nav1{
            line-height: 30px;
            .btn-group{
                line-height: 30px;
                vertical-align: top;
            button{
                height: 30px;
                line-height: 30px;
                background-color: transparent;
                border: none;
                font-size: 12px;
                color: #999;
                padding: 0 6px;
                vertical-align: top;
            }
            }
        }
    }
}
// head-content
.head-content{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    .logo{
        width: 330px;
        height: 65px;
        float: left;
        img{
            margin-top: 20px;
        }
    }
    .input-group{
        float: right;
        width: 508px;
        height: 40px;
        padding-top: 33px;
        position: absolute;
        right: 220px;
       .form-control{
        width: 511px;
        border: 2px solid #ff2337;
        height: 40px;
        border-radius: 20px;
       }
    .input-group-append{
        // position: relative;
        // border-radius: 50%;
        button{
            width: 60px;
            height: 40px;
            border: 2px solid #ff2337;
            background-color: #ff2337;
            border-radius: 20px;
            position: absolute;
            right: -15px;
            z-index: 99;
            top: 33px;
            span{
                color: #fff;    
            }
           }
    }
    
    }
    .shopping{
        width: 106px;
        height: 40px;
        border: 2px solid #ff2337;
        border-radius: 20px;
        position:absolute;
        right: -155px;
        text-align: center;
        line-height: 36px;
        color: #333;
        font-size:14px;
        i{
            margin-right: 6px;
            color: #ff2337;
            font-size: 18px;
            font-weight: bold;
        }
    }
}
//banner-nav
.banner-nav{
    .container{
        height: 40px;
        position: relative;
        .nav{
            line-height: 40px;
            .nav-item{
                text-align: center;
                position: relative;
                .list-group{
                    width: 165px;
                    height: 40px;
                    position: absolute;
                    z-index: 99;
                    display: none;
                    .list-group-item{
                        padding: 0 20px;
                        background-color: red;
                        border-top: 1px solid #fff;
                        color:white;
                        font-size: 14px;
                        height: 38px;
                        .icon-huangguan{
                            margin-right: 10px;
                        }
                        .icon-dayu{
                            margin-left: 10px;
                        }
                    }
                }
                .nav-link{
                    color: #333;
                    font-weight: bold;
                    padding: 0 16px;
                }
            }
        }
        .dropdown-menu{
            position: absolute;
            z-index: 75;
            top: 40px;
            left: 165px;
            width: 930px;
            // overflow: hidden;
            max-height: 455px;
            height: 455px;
            background: #ffffff;
            border: 1px solid #ff1a33;
            border-left-width: 0;
            text-align: left;
            color: #333;
            cursor: auto;
            display: none;
            .menu_right{
                width: 550px;
                height: 400px;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                margin-right: 0;
                position: absolute;
                right: 20px;
                top: 30px;
                img{
                    margin-right: 10px;
                }
            }
        }
    }
}
.footer_bottom{
    background: #333;
    .footer_center{
        width: 1100px;
        height: 153px;
        margin: 0 auto;
        color: #c2c2c2;
        font-size: 12px;
        text-align: center;
        padding: 20px 0;
        h3{
            font-size: 12px;
            line-height: 26px;
        }
        P{
            margin-top: 10px;
        }
        div{
            margin-top: 5px;
            .img1{
                width: 80px;
                height: 30px;
            }
            .img2{
                width: 30px;
                height: 30px;
                margin-left: 5px;
            }
        }
    }
}